body {
  background-color: rgb(13, 38, 56) !important;
  color: silver !important;
  padding: 20px;
  font-size: 14px;
  margin: auto;
}

#search-icon {
  color: rgb(212, 99, 44);
  font-size: 2em;
  margin: 20px;
}

#footer {
  position:relative;
  bottom:20px !important;
  font-size: 14px;
  left: 0px;
  right: 0px;
  margin-top: 40px;
}

clear {
  cursor: pointer;
}

a {
  color: rgb(212, 99, 44) !important;
}
a, a:hover, a:active, a:visited{
  text-decoration: none !important;
}

*:focus {outline: none;}

.form {
  margin-top: 35%;
}
#form input{
  border: 0px;
  background-color: rgb(13, 38, 56);
  color: white;
  width: 300px;
  border: 5px solid;
  border-color: rgb(212, 99, 44);
  border-radius: 20px;
  display: inline-block;
  float: center;
}

#form button {
  color: rgb(212, 99, 44);
  background-color: rgb(13, 38, 56);
  border: 0px;
  display: inline-block;
  float: center;
}

.formbutton {
  border-radius: 20px;
  border: 2px solid rgb(212, 99, 44);
  padding: 6px;
  background-color: rgb(212, 99, 44);
  color: rgb(13, 38, 56) !important;
  font-weight: bold;
  margin-bottom: 20px;
}

#wiki {
  border: 1px solid rgb(212, 99, 44);
  border-radius: 10px;
  margin-top: 40px;
}
.search-url{
  cursor: pointer;
}

.search-block{
  background-color: #ffffff;
  margin: 20px 20px 20px 30px;
  padding: 20px;
  color: rgb(13, 38, 56);
  border-left: 10px solid transparent;
}

.search-block:hover {
  border-left: 10px solid rgb(212, 99, 44);
}

.search-title{
  text-align: left;
  font-weight: bold;
}

.search-result{
  text-align: left;
}

.searchmatch {
  color: rgb(212, 99, 44);
}

.no-result{
  padding: 20px;
  font-size: 20px;
}

.fa {
  display:inline !important;
}
